@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #FFFDF5;
    color: #364C84;
    font-family: "Inter Tight", sans-serif;
    font-weight: 300;
    text-align: center;
}

h1 {
    margin-top: 40px;
}

.p1 {
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    margin-top: -20px;
}

p {
    font-size: 14px;
}

h2 {
    color: #D6E561;
}

.mp-cont {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    margin-top: 40px;
}

.mp-1, .mp-2 {
    border: 2px solid #364C84;
    border-radius: 15px;
    padding: 25px;
    width: 280px;
    background: transparent;
}

button {
    border: 1px solid #82A6ED;
    border-radius: 4px;
    background-color: transparent;
    color: #82A6ED;
    text-align: center;
    line-height: 1;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 4px;
}

button:hover {
    background-color: #82A6ED;
    color: #FFFDF5;
}

@media (max-width: 768px) {
    .mp-cont {
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 0 20px;
    }

    .mp-1, .mp-2 {
        width: 100%;
        max-width: 350px;
    }
}